[submodule "docs/scipy-sphinx-theme"]
	path = docs/scipy-sphinx-theme
	url = https://github.com/joelfrederico/scipy-sphinx-theme.git
[submodule "docs/numpydoc"]
	path = docs/numpydoc
	url = https://github.com/numpy/numpydoc.git
